body {
    background-color: #fff;
}

h1{
    font-size: large;
}
.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 0 15px;
}

.login-form {
    margin-top: 20px;
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

.btn-black {
    background-color: #000;
    color: #fff;
}

.form-group {
    margin-bottom: 1rem;
}

.form-check {
    display: flex;
    align-items: center;
}
.senha{
    text-align: start !important;
}

.form-check-input {
    margin-right: 5px;
}

.btn-block {
    display: block;
    width: 100%;
}

.mt-3 {
    margin-top: 1rem !important;
}


@media (max-width: 576px) {
    .login-container {
        padding: 0 10px;
    }
}
